.addcase_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.add_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.add_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 3rem;
}

#area_form, #title_inp, #describe_inp {
  width: 450px;
  padding: .3rem 1rem;
  border-radius: 20px;
  border-width: 1px;
  border-color: rgba(122, 122, 122, 0.418);
}

.field {
  margin-bottom: 2rem;
}

.t {
  font-size: 18px;
  margin-top: .3rem;
}

.des {
  margin-top: 2.5rem;
}

.ar {
  margin-top: 10.5rem;
}

.fl_la {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 3rem;
}

.lawyer_rad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.inp_name, .inp_field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.add_img {
  width: 8rem;
  height: 8rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5%;
  margin-bottom: .1rem;
}

.pic_fl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pic_fl p {
  font-size: .9rem;
}

.rad {
  visibility: hidden;
}

#optl-1:checked + label img,
#optl-2:checked + label img,
#optl-3:checked + label img {
  border-radius: 5%;
  border-color: #0d89d1c4;
  border-width: 3px;
  border-style: solid;
}

.doc_fl {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

::-webkit-file-upload-button {
  color: black;
  padding: .3rem 2em;
  border-style: solid;
  border-width: 1px;
  border-radius: 5%;
  background-color: transparent;
}

.add_doc_icon {
  font-size: 1.7rem;
  color: #13398b;
}

.add_doc {
  border-style: none;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #13398b;
  padding: .2rem;
}

.doc_fl_r {
  width: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.add_case_btn {
  margin-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: .5rem;
  position: relative;
  left: 9rem;
}

.add_btn {
  padding: .4rem 1.5rem;
  width: 130px;
  border-radius: 10px;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
}

.save_b {
  background-color: #2365f5;
  color: white;
  border-color: white;
}

.reset_b {
  background-color: #707070;
  color: white;
  border-color: white;
}

.cancel_b {
  border-color: black;
}

.save_b:hover {
  background-color: #2d6d97;
}

.reset_b:hover {
  background-color: #8b8b8b;
}

.cancel_b:hover {
  border-color: #5c5c5c;
  color: #5c5c5c;
}

.addcase_box {
  height: 160vh !important;
  margin-bottom: 20rem;
}
/*# sourceMappingURL=addcases.css.map */