@import url("https://fonts.googleapis.com/css2?family=Martel&display=swap");
#Area {
  position: relative;
  background-color: white;
}

.AreaIntro {
  background-image: url(./img/head_img.jpg);
  height: 30rem;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -14rem;
  z-index: 100;
}

.area_title {
  position: absolute;
  bottom: 2.6rem;
  font-size: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: white;
  letter-spacing: .7rem;
}

.area_title:before,
.area_title:after {
  content: '';
  border-top: 2px solid #f7f7f7;
  margin: 15px 0px 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 20px;
          flex: 1 0 20px;
}

#area_diff {
  position: relative;
  top: -16rem;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 2.5rem;
  margin-bottom: 2rem;
}

.area_b {
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
  border-radius: 2px;
  height: 3rem;
  width: 22rem;
  border-style: none;
  cursor: pointer;
}

.area_b1 {
  background-color: #0bb5bb;
}

.area_b2 {
  background-color: #0d6e8b;
}

.area_b3 {
  background-color: #1b3a4e;
}

.area_b1:hover {
  background-color: #2ce1e7;
}

.area_b2:hover {
  background-color: #20a5ce;
}

.area_b3:hover {
  background-color: #0d5585;
}

.bio_1 {
  background-color: #fefaef;
  position: relative;
  top: -19rem;
  padding: 8rem 6.5rem 6rem 6.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bio_1 p {
  width: 40rem;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.bio_2 {
  background-color: #ffffff;
  position: relative;
  top: -19rem;
  padding: 8rem 6.5rem 0rem 6.5rem;
  text-align: center;
}

.perso_bt {
  font-size: 2.8rem;
  color: #2b2b2b;
  font-family: 'Martel', serif;
  width: 70rem;
  margin-bottom: 1rem;
}

.perso_sp {
  font-size: 1.2rem;
  font-family: 'century gothic';
  font-weight: 400;
  color: #363636;
  margin-bottom: 4rem;
  margin-top: 1rem;
}

.perso_grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-gap: 3rem;
  text-align: left;
  font-size: 1.2rem;
}

.left_bio {
  max-width: 35rem;
}

.perso_grid span {
  font-weight: 500;
  color: #017ee4;
  font-size: 1.3rem;
}
/*# sourceMappingURL=area.css.map */